  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My News</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    My News
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

            {% for a,b in combine %}
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ b.date_posted_sport }}</strong>
                                <br> 
                                <h8>{{ a.text_sport }}</h8>
                            </p>
                        </div>
                    </div>
                </article>
            {% endfor %}

        </div>

    </section>
    <footer class="footer">
    </footer>
</body>

</html>